<!DOCTYPE html>
html(lang="en")
head
  base(href="/")
  meta(charset="UTF-8")
  title Stoto
  link(rel="stylesheet", href="vendor/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="vendor/sweetalert/dist/sweetalert.css")
  link(rel="stylesheet", href="style.css")  
  script(src='vendor/angular/angular.js')
body(ng-app="stoto").container-fluid
  div(ng-controller="navCtrl")
    nav.navbar.navbar-default
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand() STOTO 
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav 
          li(ng-show="true")
            a(ng-click='logout()') Logout 
          li(ng-show="true")
            a(ui-sref='login') Login      
          li(ng-show="true")
            a(ui-sref='home') Home
  ui-view

  script(src='vendor/angular-ui-router/release/angular-ui-router.min.js')
  script(src="vendor/jquery/dist/jquery.min.js")
  script(src="vendor/bootstrap/dist/js/bootstrap.min.js")
  script(src="vendor/angular-base64-upload/dist/angular-base64-upload.min.js")
  script(src="vendor/angular-sweetalert/SweetAlert.min.js")
  script(src="vendor/angular-sweetalert/SweetAlert.min.js")
  script(src='module.js')
  script(src="services.js")
  script(src="directives.js")
  script(src="controllers/loginCtrl.js")
  script(src="controllers/detailCtrl.js")
  script(src="controllers/homeCtrl.js")
  script(src="controllers/navCtrl.js")
  script(src="controllers/picCtrl.js")