<div>
	<h1>Welcome {{user.username}}!</h1>
</div>
<div>
	<button ui-sref="addPics">Add Pics</button>
	 <label for="stories" class="">Stories:</label>
      <select ng-model="stories" class="" placeholder="albums">
      	<option ng-repeat="story in storiesArray track by $index" value="{{story}}">{{story}}</option>
      </select>
</div>
<input type="text" placeholder="search all pics"><button ng-click="search()">Search</button>
<!-- <pre>{{search-results |}}</pre> -->
<br><br>
<div ng-click="showDetails()" ng-repeat="pic in pics track by $index">
	<thumb-nail />
</div>
